<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styles.css" rel="stylesheet"></link>
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js?ver=4.2.2"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
</head>
<body>

  <!--Navbar Mobile-->
  <div class="container nav-con">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="index.html">HOME</a></li>
        <li><a href="over.html">OVER ONS</a></li>
        <li><a href="wat-we-doen.html">WAT WE DOEN</a></li>
        <li><a href="cases.html">CASES</a></li>
        <li><a href="blog.html">BLOG</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </nav>
    <div class="navbar navbar-default mobile-nav visible-xs">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="img/logo-color.svg" /></a>
      <a class="mobile-icon">a</a>
      <a class="mobile-icon">a</a>
    </div>

    <!--Navbar Desktop-->
    <nav class="navbar navbar-default header hidden-xs">
      <div class="container-fluid menu">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><img src="img/logo-color.svg" /></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!--menu items-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="over.html">OVER ONS</a></li>
            <li><a href="wat-we-doen.html">WAT WE DOEN</a></li>
            <li class="active"><a href="cases.html">CASES</a></li>
            <li><a href="blog.html">BLOG</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="phone"><i class="phone-icon"></i><span class="hidden-sm">035-6668456</span></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

    <!--Header-->
    <div class="container pagehead-con">
      <div class="row page-head">
       <img src="img/header-img3.jpg"/>
      </div>
    </div>

    <!--pagehead title and description-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="page-title">
            <h1>Cases</h1>
            <p>Een aantal voorbeelden van ons werk</p>
          </span>
        </div>
      </div>
    </div>

      <!--text-->
      <div class="container white">
        <div class="row about-textbox">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-text">
            <h6 class="red">Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. Phasellus at semper turpis. Nunc eu tellus torto.  </h6>
            <br/>
            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. Nunc vel rhoncus nibh,.</p>
            <br/>

            <h4>De vraag</h4>
            <p>Bij Mammoet werken vooral technische zeer bekwame mensen die horen tot de top van hun vak. Niet zo gek dat er vooral aandacht werd gegeven aan de technische kennis en vaardigheden van de medewerkers. Leiderschap en persoonlijke ontwikkeling hadden minder prioriteit. Maar de beste techneut is niet de beste leidinggevende. Veel leiderschap is gebaseerd op jaren ervaring en kennis van het vak, de stijl is dan ook vaak zeer taakgericht.</p>
            <p>Er was een Management Development Programma nodig wat de managers helpt om te groeien in hun leiderschap zodat ze minder vanuit de inhoud leiden maar ook aandacht hebben voor de mens. Daarnaast speelt dat de concurrentie steeds dichter bij komt, en Mammoet vooral het verschil maakt door innovatief en kwalitatief aan de top te blijven. Zonder een helder visie en inspirerend en krachtig leiderschap is dit lastig. Er was grote behoefte aan leiderschapsontwikkeling. </p>
            <p>Complicerende factor is dat Mammoet locaties heeft in 28 landen, en onze managers dus over de wereld verspreid werken en vele nationaliteiten hebben!</p>
            <br/><br/>
            <h4>Onze aanpak</h4>
            <p>Dit is een internationaal traject, de deelnemers komen van over de hele wereld. Logistiek is het niet mogelijk om iedereen steeds in Nederland bij elkaar te krijgen. Daarom draaien we het programma in 3 zgn ‘Development Weeks’. Een concentratie van training, competentie carrousels, games en netwerken in een aaneengesloten week. Effectief en efficiënt.
  In deze weken is een aantal keer ruimte voor Mammoet gemaakt voor inhoudelijke workshops, mededelingen of inspirerende sprekers en voorbeelden uit de organisatie.
            <br/><br/>
            <h5>Videoconferencing</h5>
            <p>Een zeer belangrijk deel van de programma’s bestaat uit de bijeenkomsten in Nederland. Tussen de modules door is het echter belangrijk dat de deelnemers contact houden met zowel de trainer als de andere deelnemers. Hiervoor maken we gebruik van het videoconferencesysteem van Mammoet. Hoewel het niet als vervanging van face-to-face contact is het, zeker wanneer men elkaar eenmaal ontmoet heeft, een uitstekende aanvulling. Hierdoor blijft de doorlopende leerlijn intact en ontstaat er een optimaal programma voor een internationale groep.</p>
            <br />
            <h5>Vodcast</h5>
            <p>Een aantal maal laten we de deelnemers met film laten werken. Bijvoorbeeld als introductie maken zij een videoportret van zichzelf en hun site. Deze komt op de portal en kan door de andere deelnemers bekeken worden. Daarnaast  krijgen de managers de opdracht om een analyse te maken van de nieuwe strategie en wat dit betekent voor hun specifieke locatie. Zij maken hier een korte film van, met bijv. interviews en voorbeelden van werkwijzen. Een mooie manier om de strategie eigen te maken.</p>
            <br/>
            <h4>Resultaat</h4>
            <p>Klik <a href="">hier</a> voor een interview met de Talent Manager van Mammoet, Femke de Haan.</p>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 about-text">
            <span class="col-title">GERELATEERD PROGRAMMA</span>
            <div class="related">
              <div class="related-img">
                <img src="img/related-case.jpg"/>
                <span>Management Development</span>
              </div>
              <div class="related-content">
                <p>Talentontwikkeling van werknemers is voor iedere organisatie van belang. Binnen HRM-beleid is het instrument van Management Development nog steeds een goede manier om (toekomstige) managers te ontwikkelen en te behouden.</p>
              </div>
              <a href="" class="related-link-prog first"><div class="title-block"><span class="more-col">meer informatie</span></div></a>
              <a href="" class="related-link-prog"><div class="title-block"><span class="more-col">Bekijk alle programma's</span></div></a>
            </div>
          </div>
        </div><!-- end row -->
      </div>

    <!--Footer-->
    <div class="container footer-con">
      <div class="row footer">
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">sitemap</span>
          <ul class="footer-list">
            <li>Homepage</li>
            <li>Over ons</li>
            <li>Wat we doen</li>
            <li>Cases</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">onze diensten</span>
          <ul class="footer-list">
            <li>Management Development </li>
            <li>Talentprogramma’s</li>
            <li>Veranderprogramma’s</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">volg ons</span>
          <ul class="footer-list">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">contact</span>
          <ul class="footer-list">
            <li>Koetshuis Den Dolder</li>
            <li>Landgoed Ewijkshoeve</li>
            <li>Soestdijkerweg 12a</li>
            <li>3734 MH Den Dolder</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="footer-title opacity">menu</span>
          <ul class="footer-list">
            <li>info@ludenstraining.nl</li>
            <li>035-6668456</li>
          </ul>
        </div>
      </div>

      <!--copyright-->
      <div class="row copyright">
        <div class="lg-col-12"><span class="copyright-text">© Ludens Talentontwikkeling</span></div>
      </div>

    </div><!-- end container-->

</body>
</html>
