<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styles.css" rel="stylesheet"></link>
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700,600,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js?ver=4.2.2"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
</head>
<body>

  <!--Navbar Mobile-->
  <div class="container nav-con">
    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="index.html">HOME</a></li>
        <li><a href="over.html">OVER ONS</a></li>
        <li><a href="wat-we-doen.html">WAT WE DOEN</a></li>
        <li><a href="cases.html">CASES</a></li>
        <li><a href="blog.html">BLOG</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
    </nav>
    <div class="navbar navbar-default mobile-nav visible-xs">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="img/logo-color.svg" /></a>
      <a class="mobile-icon">a</a>
      <a class="mobile-icon">a</a>
    </div>

    <!--Navbar Desktop-->
    <nav class="navbar navbar-default header hidden-xs">
      <div class="container-fluid menu">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html"><img src="img/logo-color.svg" /></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!--menu items-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
            <li class="active"><a href="over.html">OVER ONS</a></li>
            <li><a href="wat-we-doen.html">WAT WE DOEN</a></li>
            <li><a href="cases.html">CASES</a></li>
            <li><a href="blog.html">BLOG</a></li>
            <li><a href="contact.html">CONTACT</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="phone"><i class="phone-icon"></i><span class="tel-num">035-6668456</span></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

    <!--Header-->
    <div class="container pagehead-con">
      <div class="row">
       <img src="img/header-img1.jpg"/>
      </div>
    </div>

    <!--pagehead title and description-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="page-title">
            <h1>Over Ons</h1>
            <p>Wie zijn wij en waar geloven we in?</p>
          </span>
        </div>
      </div>
    </div>

      <!--Text-->
      <div class="container white">
        <div class="row about-textbox">
          <div class="col-md-4 col-xs-12 about-text">
            <h6>Het is onze overtuiging dat het succes van organisaties wordt bepaald door de mensen die er werken. Om als bedrijf uit te blinken, zijn er werknemers nodig die het verschil maken. Avonturiers die onafhankelijk en kritisch durven denken, met creatieve oplossingen komen en tegen de stroom in durven gaan. Waar van binnen een vuurtje brandt. </h6>
          </div>
          <div class="col-md-4 col-xs-12 about-text">
            <p>Succesvolle organisaties onderscheiden zich door hun talenten te ontwikkelen, de ruimte te geven en aan zich te binden. Wij geloven dat talentontwikkeling in essentie het vrijmaken van reeds aanwezige potentieel is. Mensen kunnen meer dan ze denken. Vaak zitten denk en gedragspatronen letterlijk in de weg. </p>
            <br/>
            <h4>Hoe we werken</h4>
            <p>Wij adviseren en begeleiden organisaties bij het opzetten, ontwikkelen en uitvoeren van impactvolle trainingsprogramma voor talentvolle medewerkers. Programma’s die geen doel op zich zijn, maar dienen om de strategie te ondersteunen, een kweekvijver van jong (leidinggevend ) talent te creëren en de organisatie te ontwikkelen.</p>
          </div>

          <div class="col-md-4 col-xs-12 about-text">
            <h4>Tastbare resultaten</h4>
            <p>Het werken op identiteitsniveau zit diep in ons DNA, en is voor ons het vliegwiel voor elke duurzame ontwikkeling of verandering. Aan de andere kant staan we voor realiseren van resultaat op de werkvloer.
            <br/><br/>Daarom zijn onze programma’s altijd een combinatie van persoonsgerichte ontwikkeling op de hei en op concrete opgavegerichte ontwikkeling op en in het werk. Veelal zijn dit opgaves die in lijn liggen met de strategie van de organisatie, en waarmee het verschil wordt gemaakt. Door onze interventies zoveel mogelijk in en om het werk te organiseren worden tastbare resultaten gehaald, zowel voor het bedrijf als voor de deelnemer. </p>
          </div>
        </div>
      </div>

      <!--team-->
      <div class="container white">
        <div class="row">
          <div class="col-lg-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#kernteam" aria-controls="kernteam" role="tab" data-toggle="tab">kernteam</a></li>
              <li role="presentation"><a href="#trainers" aria-controls="trainers" role="tab" data-toggle="tab">TRAINERS, COACHES &amp; ACTEURS</a></li>
              <li role="presentation"><a href="#partners" aria-controls="partners" role="tab" data-toggle="tab">PARTNERSHIPS</a></li>
            </ul>
          </div>

          <div class="col-lg-12 team">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="kernteam">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3><a href="over-persoon.html">Huib Hardeman</a></h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3>Huib Hardeman</h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3>Huib Hardeman</h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3>Huib Hardeman</h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>

                  <!--2e row -->
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3>Huib Hardeman</h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3>Huib Hardeman</h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3>Huib Hardeman</h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="person">
                      <div class="person-img">
                        <img src="img/directeur.jpg"/>
                      </div>
                      <div class="person-info">
                        <h3>Huib Hardeman</h3>
                        <p>Directeur</p>
                      </div>
                    </div>
                  </div>

              </div><!--end tab panel kernteam-->
              <div role="tabpanel" class="tab-pane" id="trainers">

                <div class="col-lg-3">
                  <div class="person">
                    <div class="person-img">
                    </div>
                    <div class="person-info">
                      <h3>Huib Hardeman</h3>
                      <p>Directeur</p>
                    </div>
                  </div>
                </div>

              </div><!--end tab panel trainers-->
              <div role="tabpanel" class="tab-pane" id="partners">

                <div class="col-lg-3">
                  <div class="person">
                    <div class="person-img">
                    </div>
                    <div class="person-info">
                      <h3>Huib Hardeman</h3>
                      <p>Directeur</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="person">
                    <div class="person-img">
                    </div>
                    <div class="person-info">
                      <h3>Huib Hardeman</h3>
                      <p>Directeur</p>
                    </div>
                  </div>
                </div>

              </div><!--end tab panel partners-->
            </div><!--end tab contents-->

          </div><!--end .team-->
        </div><!--end row-->
      </div>


    <!--Quote-->
    <div class="container quote-con">
      <div class="row quote darkgrey">
        <div class="col-lg-12">
          <span class="quote-font text-white">Het idee van de homo ludens (Latijn voor "spelende mens") is een mensbeeld
  waarin de mens eerst en vooral een spelend wezen is.</span>
        </div>
      </div>
    </div>

    <!--Footer-->
    <div class="container footer-con">
      <div class="row footer">
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">sitemap</span>
          <ul class="footer-list">
            <li>Homepage</li>
            <li>Over ons</li>
            <li>Wat we doen</li>
            <li>Cases</li>
            <li>Blog</li>
            <li>Contact</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">onze diensten</span>
          <ul class="footer-list">
            <li>Management Development </li>
            <li>Talentprogramma’s</li>
            <li>Veranderprogramma’s</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">volg ons</span>
          <ul class="footer-list">
            <li>Facebook</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="title text-grey">contact</span>
          <ul class="footer-list">
            <li>Koetshuis Den Dolder</li>
            <li>Landgoed Ewijkshoeve</li>
            <li>Soestdijkerweg 12a</li>
            <li>3734 MH Den Dolder</li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
          <span class="footer-title opacity">menu</span>
          <ul class="footer-list">
            <li>info@ludenstraining.nl</li>
            <li>035-6668456</li>
          </ul>
        </div>
      </div>

      <!--copyright-->
      <div class="row copyright">
        <div class="lg-col-12"><span class="copyright-text">© Ludens Talentontwikkeling</span></div>
      </div>

    </div><!-- end container-->
  </div>

</body>
</html>
